/* google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500&display=swap');

/*** Global css ***/
* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    scroll-behavior: smooth;
    list-style: none;

}

.line-padding {
    padding: 100px 80px;
}

.line-padding2 {
    padding: 0 50px;
}

:root {
    --bg-color: #fdfdfd;
    --text-color: #333;
    --main-color: #754ef9;
    --white-color: #fdfdfd;
    --spacial-color: blue;
    --shadow-color: rgba(0, 0, 0, .2);
}

.spacial {
    color: var(--spacial-color);
}

/*** Global css ***/

/*** Header css ***/
.logo {

    font-size: 2.5rem;
    color: var(--main-color);
    font-weight: 500;
    cursor: default;
    margin-right: auto;
}



.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.6rem 6%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
    z-index: 1;
    background-color: #fdfdfd56;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}


.navber-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.navber-list li a {
    position: relative;
    font-size: 1.1rem;
    color: var(--text-color);
    font-weight: 500;
    margin-right: 3.2rem;
    transition: .2s ease
}

.cart-icon {
    font-size: 25px;
    color: black;
}

.navber-list li a:hover,
.navber-list li a.active {
    color: #754ef9;

}

.navber-list li a.active::after,
.navber-list li a:hover::before {
    content: "";
    width: 100%;
    height: 2px;
    left: 0;
    bottom: -6px;
    background: #754ef9;
    position: absolute;
}

/*** Header css ***/

/*** slider css ***/
.slider-bannar {
    display: flex;
    justify-content: space-between;
    background-color: aliceblue;
    align-items: center;
    padding: 200px 100px;
}

.left-side h4 {
    font-size: 60px;
    color: blueviolet;
}

.left-side h2 {
    font-size: 40px;
    color: burlywood;

}

.left-side p {
    font-size: 20px;
    color: gray;
    padding: 10px 0;
}

/*** slider css ***/

/***** btn css ****/
.btn {
    display: inline-block;
    margin-top: 10px;
    padding: 1.1rem 2.8rem;
    background: var(--main-color);
    border-radius: .6rem;
    box-shadow: 0 .2rem .5rem var(--shadow-color);
    border: .2rem solid transparent;
    font-size: 1.2rem;
    color: var(--white-color);
    letter-spacing: .1rem;
    font-weight: 600;
    transition: .5s;
}

.btn:hover {
    background: transparent;
    color: var(--main-color);
    border-color: var(--main-color);
}

/***** btn css ****/

/***** feature css ****/

.feature {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.feature .feature-box {
    width: 180px;
    background-color: #fdfdfd;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border: 1px solid gainsboro;
    padding: 30px 10px;
    text-align: center;
    transition: .5s;

}

.feature .feature-box:hover {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;

}

.feature-box img {
    width: 100%;
    padding: 10px 0;
}

.feature-box h4 {
    display: inline-block;
    background-color: rgb(202, 151, 198);
    color: gainsboro;
    padding: 5px 10px;
    font-weight: 400;
    border-radius: 5px;
}

.feature .feature-box:nth-child(2) h4 {
    background-color: rgb(241, 148, 198);
}

.feature .feature-box:nth-child(3) h4 {
    background-color: rgb(127, 182, 255);
}

.feature .feature-box:nth-child(4) h4 {
    background-color: rgba(222, 184, 135, 0.973);
}

.feature .feature-box:nth-child(5) h4 {
    background-color: rgb(131, 163, 67);
}

.feature .feature-box:nth-child(6) h4 {
    background-color: rgb(167, 91, 238);
}

/***** feature css ****/

.features-products {
    text-align: center;


}

.features-products .features-title {
    margin-bottom: 50px;


}

.features-products .features-title h1 {
    font-size: 50px;
    color: rgb(10, 241, 164);
}

.features-products .features-title p {
    font-size: 20px;
    color: gray;
}

.products-pro {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

.products-pro .pro {
    width: 23%;
    border: 1px solid gainsboro;
    border-radius: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.products-pro .pro:hover {
    box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
}

.pro .img {
    width: 100%;
    padding: 10px 10px;
    border-radius: 10px;
}

.pro-desc {
    text-align: start;
    padding: 0 10px;
}

.pro-desc h3 {
    color: grey;
}

.pro-desc h4 {
    font-weight: 400;
}

.pro-desc .icon {
    color: orange;
    font-size: 20px;
}

.des-buttom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    color: green;
}

.des-buttom a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 2rem;
    background: transparent;
    margin-bottom: 10px;
    border-radius: 50%;
    box-shadow: 0 .2rem .5rem var(--shadow-color);
    font-size: 1rem;
    color: var(--main-color);

    transition: .5s ease;
}

.des-buttom a:hover {
    background: rgb(238, 186, 186);
    color: rgb(0, 183, 255);
}


.bannar{
    text-align: center;
    padding: 80px 0;
    margin: 80px 0;
  background-image: url("/img/banner/b2.jpg");
}

.bannar .bannar-details p{
    color: white;
}
.bannar .bannar-details h2{
color: var(--white-color);
padding: 5px 0;
}

.bannar .bannar-details span{
    color: red;
}